<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTeams - Tu código de verificación</title>
</head>
<body>
<h2>Tu código de verificación en TTeams</h2>
<p>Hola,</p>
<p>Tu código de verificación es: <strong th:text="${otpCode}"></strong></p>
<p>Por favor, usa este código para completar la verificación de cuenta.</p>
<p><strong>Recuerda:</strong> El código de verificación tiene una duración de 5 minutos. Después de este tiempo, tendrás que solicitar un nuevo código.</p>
<h3>Seguridad y Privacidad:</h3>
<p><strong>Nota:</strong> Este proceso es parte de nuestras medidas de seguridad para proteger tu cuenta y tu información personal. El código de verificación es temporal y no debe compartirse con nadie.</p>
<p>¡Gracias!</p>
</body>
</html>